body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 16px;
    background: #1F2937;
    align-items: center;   
}

.logo-image{
    width: 100px;
    margin-left: 120px;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
    margin-right: 120px;
    margin-left: auto;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.subheader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    text-wrap: wrap;
    gap: 20px;
    flex: 1;
    background: #1F2937;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.herotext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subhero{
    color:#E5E7EB;
    font-size: 18px;
}

.img-paper{
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    margin-right: 120px;
}

.signup{
    margin-top: 15px;
    align-self: flex-start;
}

button{
  font-family: Roboto, sans-serif;
  width: 100px;
  border: 2px solid white;
  border-radius: 16px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.container{
    align-self: center;
    margin-bottom: 70px;
}

.heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.teaminfo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.team-img{
    width: 250px;
    height: 265px;
    border-radius: 16px;
}

.name{
    font-size: 22px;
}

.quote{
    align-self: center;
    background: #E5E7EB;
    padding: 50px;
}

.sentence{
    color: #1F2937;
    font-size: 36px;
    font-style:italic;
    margin-right: 150px;
    margin-left: 150px;
}

.author{
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bold;
    font-size: 27px;
    margin-right: 150px;
    margin-left: 150px;
}

.end-container{
    display: flex;
    flex-wrap: wrap;
    background: #3882F6;
    margin: 70px 160px 70px 160px;
    border-radius: 10px;
    padding: 25px;
}

.ending{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: #F9FAF8;
}

.comments{
    font-size: 20px;
    font-weight: bold;
}

.end-button{
    margin-left: auto;
    margin-right: 50px;
    flex-shrink: 0;
    overflow: hidden;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background: #1F2937;
    padding: 20px;
    color: white;
}